<!-- <div class="container">
    <div class="row justify-content-start">
        <div class="col-12"> -->
<ul class="bottom-shaddow">
    <button type="button" class="btn btn-outline-primary" (click)=addNewProject()>Create New Project</button>
    <div class="input-group col-md-4 search">
        <input class="form-control py-2 border" type="search" value="search" id="example-search-input" placeholder="Search Projects Here" [(ngModel)]="userFilter.project">
        <span class="input-group-append">
            <!-- <button class="btn btn-outline-secondary border-left-0 border" type="button">
                <i class="fa fa-search"></i>
            </button> -->
          </span>
    </div>
    <div class="boundary">
        <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-filter" aria-hidden="true"></i>
          Filter
      </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="#">Dropdown link</a>
            <a class="dropdown-item" href="#">Dropdown link</a>
        </div>
        <button type="button" class="btn btn-outline-secondary"><i class="fa fa-refresh" aria-hidden="true"></i>Refresh</button>
    </div>

</ul>
<!-- </div>
    </div>
</div> -->