<!-- <div class="container">
    <div class="row justify-content-start">
        <div class="col-12"> -->
<ul>
    <button type="button" class="btn btn-outline-primary" (click)=addNewProject()>Add Project</button>
    <div class="input-group col-md-4 search">
        <input class="form-control py-2 border" type="search" value="search" id="example-search-input" [(ngModel)]="userFilter.project">
        <span class="input-group-append">
            <!-- <button class="btn btn-outline-secondary border-left-0 border" type="button">
                <i class="fa fa-search"></i>
            </button> -->
          </span>
    </div>
    <button type="button" class="btn btn-outline-secondary">Filter</button>
    <button type="button" class="btn btn-outline-success">Refresh</button>
</ul>
<!-- </div>
    </div>
</div> -->