ul {
    list-style-type: none;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #ffffff;
    height: 45px;
}

button,
.search {
    float: right;
    margin-right: 10px;
    margin-top: 2px;
}